* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent1 {
    height: auto;
    width: auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    border-top: none;
    border-left: none;
    border-right: none;
}

.parent1>.section-1 {
    height: 100px;
    width: 150px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-1>.d {
    height: 80px;
    width: 100px;
    /* border: 2px solid green; */
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parent1>.section-2 {
    height: 100px;
    width: 600px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-2>.home {
    height: 40px;
    width: 100px;
    /* border: 2px solid red; */
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home>a {
    text-decoration: none;
    color: black;
}

.section-2>.work {
    height: 40px;
    width: 100px;
    /* border: 2px solid red; */
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.work>a {
    text-decoration: none;
    color: black;
}

.section-2>.profile {
    height: 40px;
    width: 120px;
    /* border: 2px solid red; */
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile>a {
    text-decoration: none;
    color: black;
}

.section-2>.contact {
    height: 40px;
    width: 140px;
    /* border: 2px solid red; */
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact>a {
    text-decoration: none;
    color: black;
}

.parent2 {
    height: auto;
    width: auto;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parent2>.mainbox1{
    height: 300px;
    width: 900px;
    border:  2px solid palevioletred;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mainbox1>.section--1 {
    height: 90px;
    width: 100px;
    border: 2px solid green;
    font-size: 140px;
    text-align: center;
}

.mainbox1>.section--2 {
    height: 100px;
    width: 750px;
    border: 2px solid green;
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    letter-spacing: 5px;
}
.parent2>.mainbox2{
    height: 700px;
    width: 900px;
    border:  2px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.mainbox2>.section--3 {
    height: 80px;
    width: 500px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section--3>.box-1 {
    height: 40px;
    width: 120px;
    border: 2px solid red;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.section--3>.box-2 {
    height: 40px;
    width: 140px;
    border: 2px solid red;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.section--3>.box-3 {
    height: 40px;
    width: 60px;
    border: 2px solid red;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.mainbox2>.section--4 {
    height: 100px;
    width: 100px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section--4>.circle{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle>.fa-solid{
    font-size: 60px;
}
.img-1{
    height: 430px;
    width: 310px;
    border: 2px solid red;
    background-image: url("https://static.wixstatic.com/media/e4f166_1748f93048b844019d24edcd26de7f1c~mv2.jpg/v1/crop/x_84,y_0,w_2152,h_3088/fill/w_301,h_432,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/amanda-souza-5XQKdy7koiY-unsplash.jpg");
    border-radius: 40% 40% 0% 0%;
    position: absolute;
    z-index: -1;
    margin-top: -400px;
}
.parent3{
    height: auto;
    width: auto;
    border: 2px solid green;
    padding: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.parent3>.section---1{
    height: 300px;
    width: 920px;
    border: 2px solid red;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.parent3>.section---2{
    height: 50px;
    width: 200px;
    border: 2px solid black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10%;
}
.parent4{
    height: auto;
    width: auto;
    border: 2px solid red ;
    padding: 40px;
    display: flex;
    justify-content: center;
}
.parent4>.work{
    height: 50px;
    width: 200px;
    border: 2px solid green;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}